# Public Web Domain
PUBLIC_WEB_URL=https://fi.amanillah.com

# API Endpoint (express backend port default 3040)
PUBLIC_API_URL=http://localhost:3040

# Cloudflare Turnstile Site Key (Public)
PUBLIC_TURNSTILE_SITE_KEY=0x4AAAAAAAYourTurnstileSiteKeyHere
