---
import { Icon } from "astro-icon/components"
---

<section
  data-grid-cross
  class="relative flex w-full items-center justify-center overflow-hidden py-24"
>
  <div>
    <div
      class="mx-auto flex w-full max-w-7xl items-center justify-center gap-8 px-4 text-white"
    >
      <Icon name="devicon-plain:astro" class={"size-14"} />
      <Icon name="mdi:react" class={"size-14"} />
      <Icon name="mdi:tailwind" class={"size-14"} />
      <Icon name="devicon-plain:typescript" class={"size-14"} />
      <Icon name="devicon-plain:docker" class={"size-14"} />
      <Icon name="bxl:nest-js" class={"size-14"} />
      <Icon name="bxl:express-js" class={"size-14"} />
      <Icon name="mdi:aws" class={"size-14"} />
      <Icon name="mdi:aws" class={"size-14"} />
      <Icon name="mdi:aws" class={"size-14"} />
    </div>
  </div>
</section>
