---
import CaseStudySectionTitle from "@/components/CaseStudy/CaseStudySectionTitle.astro"
import Hero from "@/components/CaseStudy/Hero.astro"
import MySiteLayout from "@/layouts/MySiteLayout.astro"
---

<MySiteLayout>
  <Hero />

  <div class="my-5 py-4">
    <CaseStudySectionTitle label="Test" />
  </div>
</MySiteLayout>
