---
import MySiteLayout from "@/layouts/MySiteLayout.astro"
import "@workspace/ui/globals.css"
---

<MySiteLayout>
  <section
    class="relative mx-auto flex min-h-[calc(100svh-5rem)] w-full items-center justify-center bg-primary py-16"
  >
    <div class="mx-auto text-center">
      <h1
        class="text-4xl font-bold text-balance text-foreground sm:text-5xl lg:text-6xl"
      >
        AI Connectivity <br />
        <span class="text-primary italic">for Backend Systems</span>
      </h1>
      <p class="mx-auto mt-5 text-lg text-muted-foreground">
        Secure, manage, and scale serverless microservices.
      </p>
    </div>
  </section>

  <section
    class="relative mx-auto flex min-h-[calc(100svh-5rem)] w-full items-center justify-center bg-primary py-16"
  >
    <div class="mx-auto text-center">
      <h1
        class="text-4xl font-bold text-balance text-foreground sm:text-5xl lg:text-6xl"
      >
        AI Connectivity <br />
        <span class="text-primary italic">for Backend Systems</span>
      </h1>
      <p class="mx-auto mt-5 text-lg text-muted-foreground">
        Secure, manage, and scale serverless microservices.
      </p>
    </div>
  </section>
</MySiteLayout>
