---
import Hero from "@/components/Home/Hero.astro"
import Logos from "@/components/Home/Logos.astro"
import ProfesssionalHistory from "@/components/Home/ProfesssionalHistory.astro"
import Skills from "@/components/Home/Skills.astro" // Import the new component
import Work from "@/components/Home/Work.astro"
import MySiteLayout from "@/layouts/MySiteLayout.astro"
---

<MySiteLayout>
  <Hero />
  <Logos />

  <!--  Skills Section  -->
  <Skills />

  <!-- Work showcase -->
  <Work />

  <!-- Professional History -->
  <ProfesssionalHistory />

  <section
    data-grid-cross
    class="relative mx-auto flex min-h-[calc(100svh-5rem)] w-full items-center justify-center bg-border py-16"
  >
    <div class="mx-auto px-4 text-center">
      <h1
        class="text-4xl font-bold text-balance text-foreground sm:text-5xl lg:text-6xl"
      >
        AI Connectivity <br />
        <span class="text-primary italic">for Backend Systems</span>
      </h1>
      <p class="mx-auto mt-5 text-lg text-muted-foreground">
        Secure, manage, and scale serverless microservices.
      </p>
    </div>
  </section>
</MySiteLayout>
