---
import MySiteLayout from "@/layouts/MySiteLayout.astro"
import Hero from "@/components/Hero.astro"
---

<MySiteLayout>
  <Hero />

  <!-- Work Section -->
  <section id="work" class="py-16">
    <div class="container mx-auto px-4">
      <h2 class="text-2xl font-semibold tracking-tight text-foreground">
        Work
      </h2>
    </div>
  </section>

  <section
    data-grid-cross
    class="relative mx-auto flex min-h-[calc(100svh-5rem)] w-full items-center justify-center bg-border py-16"
  >
    <div class="mx-auto px-4 text-center">
      <h1
        class="text-4xl font-bold text-balance text-foreground sm:text-5xl lg:text-6xl"
      >
        AI Connectivity <br />
        <span class="text-primary italic">for Backend Systems</span>
      </h1>
      <p class="mx-auto mt-5 text-lg text-muted-foreground">
        Secure, manage, and scale serverless microservices.
      </p>
    </div>
  </section>
</MySiteLayout>
