---
import SiteNav from "@/components/site-nav.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Fi Amanillah</title>
  </head>
  <body class="min-h-svh bg-background text-foreground">
    <div class="relative min-h-svh overflow-x-clip">
      <div
        class="pointer-events-none absolute inset-y-0 right-0 left-0 z-99 hidden lg:block"
      >
        <div class="relative container mx-auto h-full">
          <div class="absolute inset-y-0 left-[-4%] w-px bg-primary/50"></div>
          <div class="absolute inset-y-0 right-[-4%] w-px bg-primary/50"></div>
          <div class="absolute inset-y-0 left-[0%] w-px bg-primary/50"></div>
          <div class="absolute inset-y-0 right-[0%] w-px bg-primary/50"></div>
          <div
            class="sticky top-[30%] h-40 w-7 translate-x-[-30%] rounded-2xl border border-primary/50 bg-primary/50"
          >
          </div>
        </div>
      </div>
      <header
        class="sticky top-0 z-50 border-b border-primary/40 bg-background/80 backdrop-blur"
      >
        <div class="container mx-auto px-4">
          <SiteNav />
        </div>
      </header>
      <main class="relative container mx-auto">
        <slot />
      </main>
    </div>
  </body>
</html>
